<a><href="/pages/about">About</a>
<a><href="/pages/contact">Contact</a>
<h1>Welcome to EzeeRAC</h1>
<p>this is your rent a car buddy</p>
<p>find a car with just a few tap</p>
<p>Find us on facebook</p>
