
<h1>Welcome to Ezeerac!</h1>
<h2>EtsyDemo is an online marketplace for buying and selling handmade goods.</h2>
<h2>Ezeerac is your car rental.</h2>
<h2>EtsyDemo is an online marketplace for buying and selling handmade goods.</h2>
=======
<a href="/pages/about">About</a>
<a href="/pages/contact">Contact</a>
<h1>Mengenai projek EzeeRAC</h1>
<h2>EzeeRAC your Car Rental Buddy</h2>
<h2>EzeeRAC your Car Rental Buddy</h2>
<h2>Find car from find yours now locals</h2>
<h2>EzeeRAC help you find car rental on the spot.</h2>
<p>hHakcipta terpelihara</p>
